/* @font-face {
    src:url(fonts/OneDirection.ttf)format("truetype");
    font-family: nos;
} */
.paragraph{
    text-align:center; 
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    padding-top:3rem;
}
.paragraph2{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    /* padding-left: 30%; */
    padding-top: 15px;
    color: white;
}
.menu-bar
{
text-align:center;
background-color: #645f5f;
/* font-family: 'Times New Roman', Times, serif; */
}
.menu-bar ul
{
   display: inline-flex;
   color:floralwhite
}
.menu-bar ul li
{
    font-family: 'Times New Roman', Times, serif;
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li:hover
{

    /* background: floralwhite; */
    background-color: #6f6b6b;
    border-radius:3px;
}
.paragraph5{
    font-size: 2rem;
  font-family:'Times New Roman', Times, serif;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
}
.button {
    display: flex;
    padding-left:20px;
    justify-content:center;
    padding-top: 12px;
    padding-bottom: 2rem;
    
  }
  .button1 {
    padding: 1rem 3rem;
    border-radius: 51px;
    border-color:black;
    /* padding-right: 2rem; */
    padding-bottom: 2rem;
    background-color: rgb(111, 107, 107);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    
    color: white;
    border-style: solid;
    position: relative;
    overflow: hidden;
  }
  
  /* .button1::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #575757;
    transition: left 0.3s;
    z-index: -1;
    border-radius: 51px;
  }
  
  .button1:hover::before {
    left: 0;
  }
  
  .button1:hover {
    color: rgb(255, 255, 255);
  } */



/* .lets-go-btn{
    color: floralwhite;
    background: rgb(227, 26, 26);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: -15px; 
}
.lets-go-btn:hover{
    background: rgb(54, 1, 1);
}

.icons{
    display: flex;
    font-size: 3rem;
    margin-top:0;
    line-height: 0;
    align-items: flex-end;
    display: flex;
    gap: 1px;
    justify-content: center;
    
}

.icons a { margin-right:75px; }

.icons :hover{
    transform: scale(1.5);
}

.footer{
    background-color:black;
    margin-top:28%;
}
.p1{
    color: floralwhite;
    font-size: larger;
    padding-bottom: 10px;
    
} */